@import "mixins";
$blue: #6e9bca;
$dark-blue: #373645;
$dark-white: #cac9cd;
$white: #fff;
$grey: #cccccc;
$dark-grey: #757575;
$border-grey: #dddcdd;
$search-grey: #f5f5f5;
$semi-black: #2c2c2c;
$contact-black: #343434;
$red: #e03114;
$contact-black: #262729;
$contact-blue: #27282c;
